Repository HYF-Class19/workflow-group-2, pull requests merged in 2022-07, with the labels that each got.

#1 add student-bio and images folders and johnedelbi file
  students-bio/johnedelbi.md
Labels: good first issue

#2 add johnedelbi image
  students-bio/images/JohnEdelbi.jpg
Labels: good first issue

#5 Anita branch
  .cspell.json
  students-bio/anitasharma.md
  students-bio/images/AnitaSharma.jpg
Labels: add bio-file

#17 add horizontal rules under my details
  README.md
Labels: add bio-file, week-2

#19 MichaelMugaiga bio: Workflow-group2
  students-bio/images/agile.png
  students-bio/images/asyc.png
  students-bio/images/cms.png
  students-bio/images/implementation.png
  students-bio/images/javascript.png
  students-bio/images/science.png
  students-bio/images/separation.png
  students-bio/images/ux.png
  students-bio/mmugaiga.md
Labels: add bio-file, week-2

#18 Anita readme
  .cspell.json
  README.md
Labels: week-2, deliverable

#6 helen
  .vscode/settings.json
  students-bio/helen.md
Labels: add bio-file, updated bio

#26 words returning error have been added to cspell
  .cspell.json
Labels: added words to cspell

#25 MugaigaMichael-Groupreadme
  README.md
  students-bio/images/Michael.PNG
Labels: add bio-file

#28 image for read me jpg file
  students-bio/images/helen image.jpg
Labels: add bio-file

#27 fix elnura md file and add img
  .cspell.json
  students-bio/elnura.md
Labels: add bio-file, week-2

#30 Updated readme extension and added my bio
  README.md
Labels: add bio-file

#31 improve user friendly experience
  README.md
  students-bio/images/readme-AnitaSharma.jpg
  students-bio/images/readme-JohnEdelbi.jpg
  students-bio/images/readme-Michael.png
  students-bio/images/readme-helen-image.jpg
Labels: deliverable, readme

#32 fix michael photo
  README.md
Labels: deliverable, readme

#34 Elnura: workflow, week-2
  README.md
  students-bio/elnura.md
  students-bio/images/readme-elnura.JPG
  students-bio/images/readme-elnura.png
Labels: add bio-file, week-2, updated bio
